.password-actions {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .password-actions i {
    font-size: 20px;
  }
  .card {
    border: none;
  }
  
  .card-header {
    align-content: center;
    border: navajowhite;
    min-height: 48px;
  }
  
  .card-header p {
    font-size: 19px;
    margin: 0;
    color: #5a5a5a;
    font-weight: 500;
  }