.card{
    border: none;
}
.card-header{
    align-content: center;
    border: navajowhite;
    min-height: 48px;
}
.card-header p{
    font-size: 19px;
    margin: 0;
    color: #5a5a5a;
    font-weight: 500;
}
.nav-link{
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 500;
}
.active.nav-link{
    color: var(--primary-theme-color) !important;
}
.locked{
    pointer-events: none;
}