<section>
  <div class="feature-section">
    <div class="feature-section-wrapper">
   
      <div class="feature-list-search-filter"></div>
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-md-5 col-lg-4 col-xl-6">
            <div class="row">
              <div class="col-sm-12">
                <div class="d-flex gap-3">
                  <label class="d-flex align-items-center gap-2">
                    <select style="width: 5rem" class="form-control mx-25 w-100px py-2 custom-select"
                      formControlName="pageSize" (change)="filterData()">
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </label>
                  <ng-select (change)="onChangeComplex($event)" [items]="complexs" bindLabel="name" bindValue="id" formControlName="complexId" class="w-175px"></ng-select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-7 col-lg-8 col-xl-6">
            <div class="filter-search-option">
              <div class="input-group justify-content-end gap-3">
                <button [ngClass]="{ hide: isFilter === false }" type="button" class="btn-filter"
                  (click)="toggleFilter()">
                  <i class="fas fa-filter filter-icon mr-2"></i>
                </button>

                <div class="d-flex align-items-center position-relative w-50">
                  <app-keenicon name="magnifier" class="fs-3 search-input-icon"></app-keenicon>
                  <input type="text" data-action="filter" class="form-control form-control-solid ps-12 search-input"
                    placeholder="Search ..." formControlName="searchKey" (keyup)="filterData()" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>


      <div class="filter-container" [ngClass]="{'show':isShowFilter}">
        <form [formGroup]="searchForm">
          <div class="row mb-2">



            <div class="col-2">
              <!-- <ng-select [items]="YearList" placeholder="Member Type"
                formControlName="Year"></ng-select> -->
            </div>
            <div class="col-4">
              <div>
                <button (click)="getCustomerPagination()" class="search-btn">Search</button>
                <button (click)="resetFilterForm()" class="reset-btn ms-3">Reset</button>
              </div>
            </div>


          </div>
        </form>
      </div>
      <div class="content mt-2">
        <div class="table-responsive">
          <table class="mt-1 table table-hover mt-1 text-center customer-list">
            <thead class="table-head rounded-lg">
              <tr>
                <th class="w-55px">SL.</th>
                <th class="text-start">Name</th>
                <th class="text-start">Type</th>
                <th class="text-start">Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="!spin && customers?.length>0">
              <tr *ngFor="let data of customers; let i = index" (dblclick)="setEditableDataToForm(data)">
                <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                <td class="text-start">{{ data.name }}</td>
                <td class="text-start">{{ data.customerType | enumToString: CustomerType }}</td>
                <td class="text-start">{{ data.email }}</td>

                <td class="w-175px">
                  <div class="action-dropdown">
                    <button class="btn-sm btn-dropdown-action dropdown-toggle" type="button"
                      id="dropdownMenuButton{{ i }}" (click)="toggleDropdown(i, $event)"
                      [class.active]="isOpenAction === i">
                      Actions
                    </button>

                    <ul class="dropdown-menu" *ngIf="isOpenAction === i" appClickOutside
                      [class.dropup]="i + 1 > CommitteeList?.length - 2" (clickOutside)="closeDropdown()">
                      <li>
                        <button class="dropdown-item" title="Edit Item" type="button" (click)="setEditableDataToForm(data)">
                          <i class="fas fa-edit" aria-hidden="true"></i> Edit
                        </button>
                      </li>
                      <li>
                        <button class="dropdown-item" title="Delete Item" type="button"
                          (click)="deleteButtonClick(data.id)">
                          <i class="far fa-trash-alt" aria-hidden="true"></i>
                          Delete
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="(customers?.length < 1 || hasData === false) && !spin">
              <tr>
                <td colspan="6">
                  <app-empty [message]="'No Data Found'"></app-empty>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="numberOfEntries" [(page)]="currentPage"
              [pageSize]="pageSize" (pageChange)="updatePageWiseTableData($event)" [boundaryLinks]="true" [maxSize]="4">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<swal #noticeSwal [swalOptions]="swalOptions"> </swal>

<swal #deleteSwal title="Are you sure to delete?" text="This cannot be undone" icon="warning" [showCancelButton]="true"
  [focusCancel]="true" (confirm)="triggerDelete()" [customClass]="{
    confirmButton: 'btn btn-danger',
    cancelButton: 'btn btn-active-light'
  }">
</swal>




  <ng-template #createOrUpdateModal let-modal>
    <div>
      <div class="modal-header">
        <h4 class="modal-title ml-1" id="myModalLabel160">Customer Create</h4>
        <button type="button" aria-label="Close" class="btn-close" (click)="modal.dismiss('Cross click')"></button>
      </div>
    </div>
   <div class="px-3 py-2">
      <app-customer-create
        [id]="editId"
        (cancelButtonClick)="modal.dismiss('Cross click')"
        (successFullCreateOrUpdate)="modal.dismiss('Cross click')"
        (successFullCreateOrUpdate)="getCustomerPagination()"
      ></app-customer-create>
    </div>
  </ng-template>




