<div class="card">
  <div class="card-header">
    <p>Opening Electric Meter Reading</p>
  </div>
  <div  class="card">
    <div class="card-body">
      <form [formGroup]="customerOpeningElectricMeterReadingForm">
        <div class="row mb-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4 text-end align-content-center" ><label for="">Complex</label></div>
              <div class="col-8">
                <ng-select (change)="onChangeComplex($event)" [items]="complexs" bindLabel="name" bindValue="id" formControlName="complexId"></ng-select>
              </div>
            </div>
          </div>
        
          <div class="col-6">
            <div class="row">
              <div class="col-4 text-end align-content-center"><label for="">Customer</label></div>
              <div class="col-8">
                <ng-select (change)="onChangeCustomer($event)" [items]="customers" bindLabel="name" bindValue="id" formControlName="customerId"></ng-select>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4 text-end align-content-center" ><label for="">Customer Name</label></div>
              <div class="col-8">
                <input type="text" class="form-control disabled" formControlName="customerName">
              </div>
            </div>
          </div>
        
          <div class="col-6">
            <div class="row">
              <div class="col-4 text-end align-content-center"><label for="">Contact Name</label></div>
              <div class="col-8">
                <input type="text" class="form-control disabled" formControlName="contactName">
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <div class="row">
              <div class="col-4 text-end align-content-center" ><label for="">Opening Date</label></div>
              <div class="col-8">
                <input type="date" class="form-control" formControlName="openingReadingDate" [ngClass]="{'disabled':customerOpeningElectricMeterReadingForm.value.openingReadingDate}">
              </div>
            </div>
          </div>
        
          <div class="col-6">
            <div class="row">
              <div class="col-4 text-end align-content-center"><label for="">Opening Reading</label></div>
              <div class="col-8">
                <input type="number" class="form-control disabled" formControlName="openingReading" [ngClass]="{'disabled':customerOpeningElectricMeterReadingForm.value.openingReading}">
              </div>
            </div>
          </div>
        </div>
 
      </form>
      <div class="d-flex justify-content-end">
        <button class="primary-btn" (click)="onSubmit()">Submit</button>
      </div>

    </div>
  </div>

</div>

<swal #noticeSwal [swalOptions]="swalOptions"> </swal>