.report-card {
    height: 100vh;
  }
  .search-form {
    font-size: 15px;
  }
  .report_header {
    background-color: #4692bd;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}
.card{
    background-color: #fbfcfd;
    color: #5b676d;
    margin-bottom: 30px;
    box-shadow: 0 0 5px #6787cf5e;
    border-radius: 3px;
}
.report-card[_ngcontent-ect-c113] {
    height: 100vh;
}
