.card {
  border: none;
}

.card-header {
  align-content: center;
  border: navajowhite;
  min-height: 48px;
}

.card-header p {
  font-size: 19px;
  margin: 0;
  color: #5a5a5a;
  font-weight: 500;
}
img {
  /* border-radius: 4px; */
  object-fit: scale-down;
}
.uploadProfileInput {
  position: absolute;

  width: 15rem;
  height: 15rem;
  opacity: 0;
  cursor: pointer;
}
.pic-holder{
  width: 15rem;
  height: 15rem;
  border: 1px solid rgb(156, 156, 156);
  position: relative;
}

.pic-holder a{
  position: absolute;
  top: -9px;
  right: -7px;
  cursor: pointer;
}
.pic-holder a i{
  font-size: 18px;
  color: #6a5d5d;
  background: white;
  border-radius: 50%;
}

.rr{
  background-image: url("../../../../../assets/media/icon/upload-image.png");
  width: 26rem;
  height: 15rem;
  background-size: contain;
  background-repeat: no-repeat;
}