<div class="modal-card-body">
  <form [formGroup]="designationForm" class="searchForm" id="searchForm">
    <div class="form-group row flex-column mb-3">
      <div class="col-sm-12 col-md-5 col-lg-3">
        <label
          for="party"
          class="control-label col-form-label float-left text-left font-weight-bolder white-space-pre"
        >
          Name
          <sup class="text-danger">*</sup>
        </label>
      </div>
      <div class="col-sm-12">
        <input
          id="name"
          formControlName="name"
          class="form-control float-left"
          placeholder="Name"
          (blur)="logValidationErrors()"
          [ngClass]="{ 'is-invalid': formError.name }"
        />
        <span class="invalid-feedback text-left">{{ formError.name }}</span>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-12">
    <div class="advance-filter-btn-list">
      <button
        type="submit"
        class="btn btn-primary gkb-submit-btn mr-2"
        (click)="onSubmit()"
      >
        Submit
      </button>
      <button
        type="submit"
        class="btn btn-danger gkb-submit-btn px-5"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
