
  .empty{
    background-color: #f1f1f1;   
  }

  .empty-content p {
    color: #7c7c7c;
    font-size: 16px;
    font-weight: 600;
  }
  

  
  /* Responsive */
  
  /*  Extra small devices (portrait phones, less than 576px)*/
  
  