.title-text {
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 0;
    white-space: pre;
}

.title-text.logo {
    color: white;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 0px 10px 2px 11px;
    background: #343434;
    border-radius: 4px;
}