@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.header-title{
    align-content: center;
    font-family: 'poppins', sans-serif;
    color: #ac1f26;
}
.header-title h1{
    margin-bottom: 0px !important;
    box-shadow: 5px 5px 5px -6px inset, -5px -5px 5px -6px inset;
    padding: 4px 24px;
    border-radius: 23px;
    font-size: 25px;
    font-family: "Akaya Telivigala", system-ui;
  font-weight: 400;
  font-style: normal;
}